*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}

.logo{
    border-radius: 20px;
    cursor: pointer;

}

li,a,button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

header{
    border: 20px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a:hover{
    transition: all 0.3s ease 0s;
    color: orange;
}
button{
    padding: 9px 25px;
    background-color: rgb(238, 170, 11);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: orange;
}